{% extends 'base.html.twig' %}

{% block title %}Взятые книги {% endblock %}

{% block body %}
    <h1>Взятые книги</h1>

    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Название</th>
            <th>Выдана</th>
            <th>Сдана</th>
            <th>Подробнее</th>





        </tr>
        </thead>
        <tbody>
        {% for exemplar in exemplars %}
            <tr>
                <td>{{ exemplar.id }}</td>
                <td>{{ exemplar.book }}</td>

                <td>{{ exemplar.dateIssue ? exemplar.dateIssue|date('Y-m-d') : '' }}</td>
                <td>{{ exemplar.dateReturne ? exemplar.dateReturne|date('Y-m-d') : '' }}</td>


                <td>
                    <a href="{{ path('app_exemplar_show', {'id': exemplar.id}) }}">Показать</a>
                    {# <a href="{{ path('app_exemplar_edit', {'id': exemplar.id}) }}">Изменить</a>#}
                </td>

            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_exemplar_new') }}">Создать</a>
{% endblock %}