{% extends 'base.html.twig' %}

{% block title %}PubHouse index{% endblock %}

{% block body %}
    <h1>Издатели</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Название</th>

        </tr>
        </thead>
        <tbody>
        {% for pub_house in pub_houses %}
            <tr>
                <td>{{ pub_house.id }}</td>
                <td>{{ pub_house.name }}</td>
                {#<td>
                    <a href="{{ path('app_pub_house_show', {'id': pub_house.id}) }}">show</a>
                    <a href="{{ path('app_pub_house_edit', {'id': pub_house.id}) }}">edit</a>
                </td>#}
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_pub_house_new') }}">Добавить</a>
{% endblock %}